<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/static/css/_layout.css">
    
    {% block additional_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="/" class="navbar-brand">Library App</a>
            <a href="/authors" class="nav-item">Authors</a>
            <a href="/books" class="nav-item">Books</a>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>

</body>
</html>